.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
}

.project-img{
    border-radius: 50%;
}

.img-div{
    width: 30%;
    height: 10%;
}

.project-description{
    width: 30%;
}