<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/index.css">
    <title>Home</title>
  </head>
  <body>
    <!-- put ur nav here  -->
    <ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/redirectAbout">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/redirectProject">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/redirectContact">Contact</a>
  </li>
</ul>
    <!--  -->
    <div class="container">
      <div id="home-pic" col="4">
        <img src="https://mcadvocate.com/wp-content/uploads/2019/03/selenaquintanilla111-900x513.jpg" class="img-fluid" >
      </div>
      <div id="description" col="4">
        <h2>Selena</h2>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
        accusantium ut iste, sequi eius illo cum laboriosam veritatis asperiores
        minus, hic maiores, corporis soluta repellendus. Tenetur beatae
        laboriosam dicta quidem! Architecto quisquam magni, quis, facere
        corrupti, ipsa distinctio sequi suscipit eos officiis aperiam tempore.
        Rerum natus alias soluta magnam adipisci magni, vel corrupti ut hic non
        cupiditate deleniti, est explicabo.
      </div>
    </div>
  </body>
</html>
